.cards {
    padding: 80px 0 100px;
}

.card-title {
    font-family: "Roboto Bold";
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
}

.card {
    padding: 25px 30px;
    background-color: #fff;
    display: inline-block;
    width: 255px;
    text-align: center;
}

.cards div:not(:last-child) {
    margin-right: 30px;
}

.chair {
    width: 125px;
    height: 166px;;
}

.card-text {
    margin: 20px 0px;
}

.price {
    font-family: "Roboto Medium";
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #333;
    margin-bottom: 20px;
}

.card-button {
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: #F13C6E;
    padding: 10px 0;
    color: #fff;
    margin: 0 auto;
    border: none;
}

.pink-cards {
    padding-bottom: 33px;
}

.pink-card {
    background-color: #F13C6E;
    padding: 35px 40px;
    width: 540px;
    background-repeat: no-repeat;
    background-position: 89% 50%;
}

.title-pink-card {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.text-pink-card {
    color: #fff;
    width: 231px;
    padding: 25px 0;
}

.pink-card-left {
    background-image: url("../images/background_picture_2.svg");
}

.email {
    width: 225px;
    height: 35px;
    left: 445px;
    top: 1605px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 9px 0 9px 25px;
    border: none
}
    
.email::placeholder {
    color: #C4C4C4;
}

.pink-card-right {
    background-image: url("../images/background_picture_3.svg");
}

.map-button {
    width: 170px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #F13C6E;
    color: #fff;
    padding: 8px 0;
}
