@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
  
@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

.background-color {
    background-color: #E5E5E5;
}

.fix-size {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline-block;
}

.link {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.center {
    vertical-align: middle;
}

.header-text {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.background-image {
    background-image: url("../images/background_picture_1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 55% 0;
    background-color: #F13C6E;
}

.container {
    padding: 192px 0 193px;
}

.title-main {
    margin-bottom: 50px;
    font-family: "Roboto Bold";
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
}

.info-text {
    font-family: "Roboto Regular";
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.main-text {
    width: 308px;
    color: #fff;
    padding-bottom: 50px;
}

.button {
    display: block;
    font-family: "Roboto Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    text-align: center;
}

.more-button {
    width: 170px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: #F13C6E;
    padding: 10px 0;
    color: #fff;
}

